/* шрифт
 font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif; */

/* головний колір шрифту #2E2F42 */
/* другий колір шрифту  #434455 */
/* колір шрифту у футері #E7E9FC */
/* колір шрифту основного заголовку #FFFFFF */
/* колір шрифту лого #4D5AE5 та #2E2F42 */
/* колір головного бекграунду #FFFFFF */
/* колір другого бекграунду #2E2F42 */
/* колір третього бекграунду #F4F4FD */
/* Колір кнопок у портфоліо #F4F4FD */
/* колір кнопки нажатої у портфоліо #404BBF */

:root {
  --primary-text-color: #2e2f42;
  --second-text-color: #434455;
  --footer-text-color: #e7e9fc;
  --main-title-text-color: #ffffff;
  --accent-text-color: #4d5ae5;
  --bg-color-sectin: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.item {
  list-style: none;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* ----------------header --------------*/
.header {
  border-bottom: 1px solid var(--footer-text-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 76px;
}

.nav-list .item + .item {
  margin-left: 40px;
}

.addres {
  margin-left: auto;
}

.addres-list {
  display: flex;
}

.addres-list .item + .item {
  margin-left: 40px;
}

.logo {
  color: var(--primary-text-color);
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}

.logo .logo-color {
  color: var(--accent-text-color);
}

.nav .link {
  display: block;
  color: var(--primary-text-color);
  font-weight: 500;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;

  padding-top: 24px;
  padding-bottom: 24px;
}

.nav .link:focus,
.nav .link:hover,
.link.current {
  color: var(--accent-text-color);
}

.addres .link {
  color: inherit;
  text-decoration: none;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.addres .link:hover,
.addres .link:focus {
  color: var(--accent-text-color);
}

/* -------------------main---------------- */

.main-section {
  background-color: var(--primary-text-color);
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
}

.main-title {
  color: var(--main-title-text-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

.main-section .btn {
  margin-top: 48px;
  padding: 16px 31px;

  color: var(--main-title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  width: 169px;
  height: 56px;
  background-color: var(--accent-text-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.advantage-list .item {
  width: 264px;
}

.advantage-list .title {
  margin-bottom: 8px;
}

.galery-section {
  text-align: center;
}

.galery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
  display: flex;
}

.galery-list .item {
  width: calc(100% - 48 / 3);
}

.title-section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 72px;
  text-align: center;
}

.team-list .item {
  width: calc(100% -72px / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-section {
  background-color: var(--bg-color-sectin);
}

.team {
  background-color: var(--main-title-text-color);
}

.team-text-box {
  padding: 32px 16px;
}

.team-list .title {
  margin-bottom: 8px;
}

/* -----------------footer------------------ */

.footer {
  background-color: var(--primary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: var(--bg-color-sectin);
}

.paragraph-color {
  margin-top: 16px;
  width: 264px;
  color: var(--footer-text-color);
}

/* ----------------Portfolio----------------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  justify-content: center;
}

.btn-list .item + .item {
  margin-left: 24px;
}

.portfolio .btn {
  font-family: inherit;
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  background-color: var(--footer-text-color);
  padding: 12px 24px 12px 24px;
  cursor: pointer;
  border: 1px solid var(--footer-text-color);
  border-radius: 4px;
}

.portfolio .btn:hover,
.portfolio .btn:focus {
  color: var(--main-title-text-color);
  background-color: var(--accent-text-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  justify-content: center;
  margin-top: 72px;
}

.portfolio-list .item {
  width: calc(100% - 4 / 3);
}

.portfolio-text {
  padding: 32px 16px;
  border: 1px solid var(--footer-text-color);
  border-top: none;
}
.portfolio-list .title {
  margin-bottom: 8px;
}
